body {
  --bg: hsla(40, 37%, 92%, 1);
  --fg: black;

  background-color: var(--bg);
  color: var(--fg);
  margin: 0;

  text-underline-offset: 2px;
}

* {
  font-family: "Source Serif 4", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

hr {
  background-color: var(--fg);
  height: 2px;

  margin: 0;
  padding: 0;

  align-self: center;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  background-color: transparent;
  color: inherit;

  border: none;
  outline: none;
  margin: 0;
  padding: 12px;

  font-size: 14px;
}

button.solid {
  background-color: black;
  color: white;
}

button.transparent {
  text-decoration: underline;
}
